body
{
	font-family:Arial;
	display: flex;

}
button
{
	width:200px;
	height:50px;
	background: blue;
	color:white;
	text-align: center;
	font-size:20px;
}
.slider__itemsTextBtn
{
	display:flex;
	flex-direction: column;
	margin-left: 160px;
	margin-top:10px;


}
.slider
{
	margin:110px auto;
	width: 500px;
	height: 300px;
	opacity: 0.5;
	position:relative;
	top:0;
	right:0;
	left:0; 
}
.slider__items
{
display: none;
width: 500px;
height: 300px;
}
.slider__itemsTextBackground
{
	width:100px;
	height: 50px;
	background:blue;
	color:white;
	margin-right: 30px;
	margin-left: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__items-active
{
	display: block;
}
.slider__items:first-child
{
	width: 500px;
	background:pink;

}
.slider__items:nth-child(2)
{
	width: 500px;
	background:red;
}
.slider__items:nth-child(3)
{
	width: 500px;
	background:yellow;
}
.slider__items:nth-child(4)
{
	width: 500px;
	background:grey;

}
a{
	text-decoration:none;
	color:#FD7EAD;
	font-size:20px;
}
a:hover
{
	color:red;
}
.prev
{
	position: relative;
	top:250px;
	left:350px;
}
.next
{
	position: relative;
	top:250px;
	right:350px;
}
.slider__itemsHeadline
{
	margin:0 auto;
	width:450px;
	height:30px;
	font-size:25px;
	display: flex;
	justify-content: center;
	background: black;
	color:white;
}
.slider__itemsText
{
	font-size:20px;
	margin-top:90px;
	color:black;
	font-weight: bold;
	margin-left:20px;
    display: flex;
    justify-content: space-between;
}
