body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

h1 {
    padding: 0;
    margin: 0;
}

h5 {
    padding: 0;
    margin: 0;
}

input:-moz-placeholder {
    color: black;
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.menuBlockSection {
    background: black;
}
.menuBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.menuBlock__logo p {
    color: white;
    text-transform: uppercase;
}
.headerMenu__list {
    display: flex;
    justify-content: center;
}
.headerMenu__item {
    border: 1px solid transparent;
}
.headerMenu__item:hover {
        cursor: pointer;
        border-color: red;
        border-radius: 50%;
    }

.headerMenu__item a {
        text-decoration: none;
        color: pink;
    }
.headerMenu__list li {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.menuBlock__button {
    display: flex;
    margin-right: 30px;
}
.signUpBtn {
    text-align: center;
    color: green;
    border-color: green;
    background: black;
    width: 70px;
    height: 20px;
}
.burgerMenu {
    display: none;
}
.burger__photo {
    display: none;
}
.headerContentBlock {
    background: grey;
    height: 700px;
    width: 100%;
}
.headerContentBlock__img {
    position: relative;
    top: 280px;
    left: 75px;
    width: 100px;
    height: 100px;
}
.headerContentBlock__headline {
    padding-top: 200px;
    padding-left: 200px;
    font-weight: 100;
    color: white;
    font-size: 40px;
}
.headerContentBlock__text {
    padding-left: 200px;
    font-size: 20px;
    color: green;
}


.servicesBlock {
    background: #1cb88b;
}
.services {
    display: flex;
    height: 300px;
    width: 100%;
}
.services__headline {
    position: relative;
    top: 50px;
}
.services__headline span {
        line-height: 25px;
        display: block;
        text-decoration: underline;
        color: white;
    }
.services__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.services__listItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    margin-left: 30px;
}
.services__headlineText {
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
}
.services__listItemText {
    display: block;
}
.services__listItemText h1 {
        color: white;
        font-size: 20px;
        line-height: 30px;
    }
.services__listItemText p {
        color: white;
        font-size: 15px;
    }
.services__listImg img {
    width: 20px;
    height: 20px;
}
.services__listImg {
    width: 50px;
    height: 50px;
    position: relative;
    right: 20px;
    border: 1.5px solid white;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesBlockTwo {
    background: white;
    width: 100%;
}
.servicesBlockTwo__listItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
.servicesBlockTwo__listItemImg {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesBlockThree {
    background: #dae0e5;
    height: 1000px;
    width: 100%;
}
.works {
    position: relative;
}
.services__headline 
{
    position:relative;
   
}
.services__headlineText-works {
    color: black;
    position: absolute;
    top: 20px;
}

.works__buttons {
    position: absolute;
    top:120px;
    
}
.works__buttonsItem {
    border-radius: 20px;
    background: #dae0e5;
    text-align: center;
    color: green;
    border-color: green;
    width: 70px;
    height: 20px;
}
.works__buttonsItem:nth-child(1) {
        border-radius: 20px;
        background: #1cb88b;
        text-align: center;
        color: white;
        border: none;
        width: 70px;
        height: 20px;
    }
.works__photo {
    position: absolute;
    top: 230px;
    display: flex;
    flex-wrap: wrap;
}
.works__photoImg img {
    width: 300px;
    height: 300px;
    padding: 10px;
}
.works__photoImg {
    position: relative;
}
.imgBackground {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: white;
    width: 300px;
    height: 100px;
    text-align: center;
}
.imgBackgroundText {
    position: relative;
    top: 10px;
}
.imgBackgroundHeadline {
    line-height: 3;
    font-size: 16px;
    color: #1cb88b;
    text-transform: uppercase;
    font-weight: bold;
}

.contactSection {
    background: #ebebeb;
    height: 500px;
    width: 100%;
}
.contactForm__headline {
    padding-top: 70px;
    font-weight: bold;
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
}
.contactForm__headline p {
        text-decoration: underline
    }
.contactForm__text {
    color: #909090;
    padding-top: 30px;
}
.contactForm__img {
    padding-top: 30px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.contactForm__img img {
        width: 20px;
        height: 20px;
    }

.form {
    position: relative;
    top: 50px;
    right: 15px;
}
.formInform input {
    width: 295px;
    height: 40px;
}
.formInform__block1 {
    display: flex;
}
.formInform__block2 {
    display: flex;
}
.formInform textarea {
    margin-top: 15px;
    padding-top: 10px;
    width: 625px;
    height: 50px;
    background: none;
}
.formInform__text {
    padding-left: 10px;
    margin-left: 20px;
    border: 2px solid #363636;
    background: none;
    color: black;
    font-size: 20px;
}
.formInform__block2 input {
    background: white;
    width: 300px;
    border-radius: 10px;
    color: #1cb88b;
    font-weight: bold;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
}
.contactForm__headlineText:nth-child(1) {
    text-decoration: none;
}
.contactForm__headlineText span {
    display: block;
    text-decoration: underline;
}

.ourTeamBlock {
    background: #ffffff;
   
}
.portfolio {
    position:relative;
    height: 700px;
    width:100%;
}
.portfolio__headlineText span
    {
        display: block;
        text-decoration:underline;
    }
.portfolio__headlineText {
    display:block;
        text-decoration: none;
    position: absolute;
    top: 50px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #363636;
}
.portfolio__list 
{
    position:absolute;
    top:200px;
    display:flex;
    justify-content:space-between;
    
}
.portfolio__itemText p  {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
  
}
.portfolio__itemName {
   
    position: absolute;
    bottom: 100px;
    color: #1cb88b;
    font-weight: bold;
}
.portfolio__itemProfession {
    bottom:80px;
    position:absolute;
    color: #d6d6d6;
    font-weight: bold;
    font-size:14px;
    margin-bottom:10px;
}
.portfolioText {
    font-weight: bold;
    font-size: 12px;
    color: #6c6c6c;
    margin-left:100px;
}
.portfolio__itemFIO {
    position: relative;
    left: 100px;
}
.portfolio__itemImg {
    background: #cccccc;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.portfolio__itemImg img {
    width: 100px;
    height: 100px;
}
.portfolio__itemImgList {
    position: absolute;
    display:flex;
}
.portfolio__itemImgIcon {
    width: 50px;
    height: 50px;
    background: #1cb88b;
    left: 120px;
    border-radius: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    position:relative;
    margin-left:10px;
  
}
.portfolio__itemImgIcon img {
    width:35px;
    height:35px;
}


    @media screen and ( max-width: 600px ) {
        .container {
        padding: 50px;
    }
    .servicesBlock
    {
        height:850px;
    }

    .headerMenu {
        display: none;
    }

    .burgerMenu {
        display: block;
    }

    .burgerMenu__list {
        margin-top: 10px;
        margin-left: 5px;
    }

    .burgerMenu__btn {
        background: #1cb88b;
        color: black;
        width: 60px;
        font-size: 14px;
        border-radius: 20px;
    }

    .burgerMenu__item a {
        color: grey;
        text-decoration: none;
    }
}

@media screen and ( max-width: 1000px ) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    .services {
        height: 500px;
        display: block;
    }

    .services__list {
        margin-top: 50px;
    }

    .services__headline {
        display: flex;
        justify-content: center;
    }

        .services__headline p {
            display: flex;
        }

            .services__headline p span {
                padding-left: 15px;
                padding-top: 12px;
            }

    .services__listImg {
        position: relative;
        right: 50px;
    }

    .servicesBlockThree {
        height: 1200px;
    }
   .works__buttons {

    top:80px;
    
}
    

    .works__photo {
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ourTeamBlock
    {
        height:750px;
    }
    .portfolio__list
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .portfolio__item
    {
    display: flex;
    margin-bottom:30px;
    }
    .portfolio__item:nth-child(2)
    {
     margin-right:70px;
    }
    .portfolio__itemText
    {
    position:relative;
    left:100px;
    }

}

@media screen and ( max-width: 700px ) {
    .services__headline {
        position: relative;
        top: 20px;
    }

    .services {
        height: 530px;
        align-items: center;
    }

    .services__list {
        display: block;
    }

    .works__photo {
        display: none;
    }
    .works__buttons {
    position: absolute;
    top:80px;
    }
    .burger__photo {
        display: flex;
flex-direction: column;
margin-top:150px;

    }
.servicesBlockThree
{
    height:1350px;
}
    .burger__photoImg {
        width: 300px;
        height: 300px;
        margin: 0 auto;

    }

    .burger__photoImg:nth-child(1) {
        position:relative;

        }
   .ourTeamBlock
   {
    height:1000px;
   }
.portfolio__list
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .portfolio__item
    {
        position:relative;
    display:flex;
    flex-direction: column;
  
    }
   .portfolio__itemImgIcon
   {
    margin-bottom:100px;
   }
    .portfolio__itemText
    {
    position:relative;
    bottom:50px;
    left:50px;
    }
    .portfolio__headlineText
    {
        display: block;
        text-decoration: none;
        margin-left: 200px;
      
    }
    .portfolio__headlineText span
    {
        text-decoration:underline;
    }
    .contactSection
{
    height:600px;
}
    .formInform__block1 
    {
    display: block;
    }
     .formInform__block2 
    {
    display: block;
    
    }
     .formInform__block2 textarea
    {
   
   width:295px;
    }
     .formInform__block2 input
    {
   margin-left:50px;
   width:250px;
    }
    
      .contactForm{
    
margin-left:100px;

}
}


.portfolio__itemImg:hover .portfolio__itemImgIcon {
    background: black;
    border:2px solid yellow;

}
@media screen and ( max-width: 500px )
{
    .headerContentBlock
    {
        height:500px;
        position:relative;
    }
 .headerContentBlock__inform{
     position:relative;
      right:70px;
      bottom:100px;
      display:inline;
 }
 .headerContentBlock__img
 {
  position:absolute;
  top:200px;
 }
 
.headerContentBlock__headline {
  font-size:30px;


}
.headerContentBlock__text {
   font-size:20px;  
}
 .ourTeamBlock
    {
        height:1200px;
    }
    .portfolio__headlineText
    {
        display: block;
        text-decoration: none;
        margin-left:100px;
      
    }
    .portfolio__headlineText span
    {
        text-decoration:underline;
    }

.contactSection
{
    height:700px;
}
    .formInform__block1 
    {
    display: block;
   
  
    }
     .formInform__block2 
    {
    display: block;
   
    }
     .formInform__block2 textarea
    {
   
   width:295px;
    }
     .formInform__block2 input
    {
   margin-left:50px;
   width:250px;
    }
  

 
    
}

